ul {
  margin: 4%;
}
li {
  font-size: 2.5rem;
}
input {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
button {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.task {
  width: 20%;
  height: 3rem;
  margin-left: 2rem;
  padding-left: 1rem;
}
.task-submit {
  margin-left: 0;
  height: 3rem;
  width: 7rem;
  background-color: #0075FF;
  color: white;
}
.filter {
  margin-top: 4%;
  height: 3rem;
  width: 7rem;
}
